{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Add Listing
{% endblock title %}
{% block body %}
  <div class="m-3">
    <h2>Create Listing</h2>

    {% if message %}
      <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'add-listing' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {{ form|crispy }}
      <input class="btn btn-primary mt-2" type="submit" value="Create">
    </form>
  </div>
{% endblock body %}
