{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Categories
{% endblock title %}
{% block body %}
<div class="row ml-3">
  <div class="col-md-12">
    <h3>Categories:</h3>
    <ul>
      {% for category in categories %}
        <li>
        <a href="#">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
  <div class="row ml-3">
    <div class="col-md-12 ">
    <h3>Create new category</h3>

    {% if message %}
      <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'categories' %}" method="post">
      {% csrf_token %}

      {{ form|crispy }}
      <input class="btn btn-primary mt-2" type="submit" value="Create">
      </form>
      </div>
  </div>
{% endblock body %}