{% extends "auctions/layout.html" %} {% block body %} {% block title %} {{ category }}'Listings {% endblock title %}
<h2>{{ category }}'Listings</h2>
{% if listings|length %} {% for listing in listings %}
<div class="card mt-2 h-30">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        {% if listing.image %}
        <img
          width="200"
          height="200"
          src="{{ listing.image.url|default_if_none:'#' }}"
          class="img-fluid"
          alt="Responsive image"
        />
        {% else %}
        <img width="200" height="200" src="/media/images/image200*200.png" class="img-fluid" alt="product image" />
        {% endif %}
      </div>

      <div class="col-md-8">
        <h3><a href="{% url 'show-listing' listing.id %}">{{ listing.title }}</a></h3>
        <b>Price:</b>
        ${{ listing.price }}
        <br />
        <p class="text-muted">created at: {{ listing.created_at }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% else %}
<h2>There are no active items under this category</h2>
{% endif %} {% endblock body %}
