{% extends "auctions/layout.html" %} {% block title %} {{listing.title}} {% endblock %} {% block body %}
<h2>Listing: {{listing.title}}</h2>
<a href="{% url 'edit-watchlist' listing.id %}" class="btn btn-secondary">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-eye"
    viewbox="0 0 16 16"
  >
    <path
      d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
    ></path>
    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
  </svg>
  Watchlist
</a>
<br />
<div class="card mt-2 h-30">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        {% if listing.image %}
        <img src="{{ listing.image.url|default_if_none:'#' }}" class="img-fluid" alt="Responsive image" />
        {% else %}
        <img width="200" height="200" src="https://via.placeholder.com/500" class="img-fluid" alt="Product image" />
        {% endif %}
      </div>

      <div class="col-md-4">
        <b>Price:</b>
        ${{listing.price}}
        <br />
        <b>Description:</b>
        {{listing.description}}
        <br />
        <h3>Details</h3>
        <ul>
          <li>
            Listed by:
            <a href="#">{{listing.user}} </a>
          </li>
          <li>Categories: {{listing.categories}}</li>
        </ul>
        <br />
        <p class="text-muted">Created at: {{listing.created_at}}</p>

        <hr />
      </div>
    </div>
  </div>
</div>
{% endblock body %}
