{% extends "auctions/layout.html" %} {% block title %} {{listing.title}} {% endblock %} {% block body %}
<h2>Listing: {{listing.title}}</h2>
<a href="{% url 'edit-watchlist' listing.id %}" class="btn btn-secondary">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-eye"
    viewbox="0 0 16 16"
  >
    <path
      d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
    />
    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
  </svg>
  Watchlist
</a>
{% if listing.active == False and request.user == winner %}
<h1 class="text-center text-success">Congratulations! You won this auction!</h1>
{% endif %}
<br />
<div class="card mt-2 h-30">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        {% if listing.image %}
        <img
          src="{{ listing.image.url|default_if_none:'#' }}"
          class="img-fluid"
          alt="https://via.placeholder.com/300"
        />
        {% else %}
        <img src="https://via.placeholder.com/500" class="img-fluid" alt="Product image" />
        {% endif %}
      </div>

      <div class="col-md-4">
        <div class="product-details">
          <b>Price:</b>
          ${{ listing.price }}
          <br />
          <b>Description:</b>
          {{ listing.description }}
          <br />
          <h3>Details</h3>
          <ul>
            <li>
              Listed by:
              <a href="#">{{ listing.user }} </a>
            </li>
            <li>Categories: {{ listing.category }}</li>
            <li><p class="text-muted">Created at: {{listing.created_at}}</p></li>
          </ul>
          <hr />
        </div>
        <div class="add-bid">
          {% if listing.active %}
          <h3>Bids</h3>
          {% if listing.user == request.user %}
          <p>You can't place a bid on your own listings, try different listing</p>
          {% else %}
          <form action="{% url 'create-bid' listing.id %}" method="post">
            {% csrf_token %} {% if listing.listing_bids.count %}
            <small class="form-text text-muted"
              >{{ listing.listing_bids.count }} bids so far, your bid should be greater than ${{ last_bid_value
              }}</small
            >
            {% else %}
            <small class="form-text text-muted">No bids so far, your bid should be at least ${{ listing.price }}</small>
            {% endif %}
            <div class="form-group">
              <input
                autofocus=""
                class="form-control"
                type="number"
                min="0"
                name="bid"
                placeholder="Place your bid"
                required
              />
              {% if request.session.message %}
              <small class="text-danger form-text">{{ request.session.message }}</small>
              {% endif %}
            </div>
            <input class="btn btn-primary" type="submit" value="Place Bid" />
          </form>
          {% endif %}
          <hr />
        </div>

        <div class="auction">
          <h3>Auction Details</h3>
          <ul>
            <li>Status: Running</li>
            <li>Winner: No winner yet</li>
            <li>Highest Bid: ${{ last_bid_value }}</li>
          </ul>
          {% if listing.user == request.user %}
          <a href="{% url 'close-auction' listing.id %}" class="btn btn-danger">Close auction</a>
          {% endif %}
        </div>

        {% else %}
        <div class="auction">
          <h3>Auction Details</h3>
          <ul>
            <li>Status: Closed</li>
            <li>Winner: {{ winner }}</li>
            <li>Highest Bid: ${{ last_bid_value }}</li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="comments">
  <div class="row mt-2">
    <div class="col-md-6">
      {% for comment in comments %}

      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">
            <button type="button" class="btn btn-primary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
                />
              </svg>
            </button>
            {{ comment.user }}
            <small class="card-subtitle mb-2 text-muted">{{ comment.created_at|date:"Y-m-d" }}</small>
          </h5>
          <p class="card-text">{{ comment.text }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-6">
      <form action="{% url 'create-comment' listing.id %}" method="post">
        {% csrf_token %}
        <h3>Leave a comment</h3>
        <div class="form-group">
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            name="comment"
            maxlength="300"
            required
          ></textarea>
        </div>
        {% if request.user.is_authenticated %}
        <input class="btn btn-primary" type="submit" value="Add" />
        {% else %}
        <small class="form-text text-muted">
          You need to be logged in to add a comment <a href="{% url 'login' %}">Login</a></small
        >
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock body %}
